{% extends 'base.html' %}

{% block title %}{{ block.super }} - Dashboard{% endblock %}

{% load static %}

{% block content %}
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid py-1 px-4">
      <div class="w-25">
      </div>
      <a class="navbar-brand w-auto" href="#">Diary App</a>
      <div class="w-25 pe-2">
        {% if user.is_authenticated %}
          <div class="d-flex justify-content-end align-items-center">
            <span class="fs-6 text-light">{{ user.username }}</span>
            <a class="profile-icon" data-bs-toggle="modal" data-bs-target="#user-config-modal">
              <i class="mx-1 bi bi-person-circle"></i>
            </a>
          </div>

          <div id="user-config-modal" class="modal fade">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <h5 class="modal-title">Modal title</h5> -->
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <span class="">Username: </span>
                  {{ user.username }}
                  <p>You cannot change your password.</p>

                  <form method="post" action="{% url 'user_config' %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ config_form.theme.label_tag }}
                    <div class="ms-1">{{ config_form.theme }}</div>

                    {{ config_form.font_size.label_tag }}
                    <div class="ms-1">{{ config_form.font_size }}</div>

                    <div class="text-end mt-5">
                      <a class="btn btn-outline-danger" href="{% url 'logout' %}">Log out</a>
                      <button type="submit" name="config_form" class="btn btn-secondary">Save changes</button>
                    </div>
                  </form>

                </div
              </div>
            </div>
          </div>
        {% else %}
          <div class="d-flex justify-content-end align-items-center">
            <!-- <span class="fs-6 text-light">{{ user.username }}</span> -->
            <a class="profile-icon" href="{% url 'login' %}">
              <i class="mx-1 bi bi-person-circle"></i>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container mt-5 px-sm-5" style="max-width: 950px">
    <div class="d-flex px-3">
      <p class="fs-5 flex-grow-1">Your Entries</p>
      <i class="filter-icon mx-1 bi bi-sort-down fs-3"
        onclick="reverseEntrySortOrder()"></i>
    </div>
    <hr class="mt-0">

    <div id="entry-list-wrapper" class="d-flex flex-column-reverse">
      <div class="card border-dark w-100 my-1">
        <div class="card-body">
          <p class="fs-6 card-title">Today I ate a frog</p>
          <h6 class="card-subtitle mb-2 text-muted">5. 9. 2021, 2:06 pm</h6>
          <!-- <p class="card-text"></p> -->
          <i class="mx-1 bi bi-emoji-smile"></i>
          <i class="mx-1 bi bi-geo-alt"></i>Šiška, Ljubljana, Slovenia
          <a href="{% url 'dashboard' %}" class="stretched-link"></a>
        </div>
      </div>
      {% if user.is_authenticated %}
        {% if entry_list %}
        {% for entry in entry_list %}

          <div class="card border-dark w-100 my-1">
            <div class="card-body">
              <p class="fs-6 card-title">{{ entry.title }}</p>
              <h6 class="card-subtitle mb-2 text-muted">{{ entry.dateTime|date:'D, M d'|upper }}</h6>
              <!-- <p class="card-text"></p> -->
              {% if entry.mood %}
                <i class="mx-1 bi bi-{{ entry.mood }}"></i>
              {% endif %}
              {% if entry.location %}
                <i class="mx-1 bi bi-geo-alt"></i>{{ entry.location }}
              {% endif %}
              <a href="{% url 'edit_entry' entry.uuid %}" class="stretched-link"></a>
            </div>
          </div>

        {% endfor %}
        {% endif %}
      {% else %}
        <div class="text-center">
          <p class="">Log in to make your first entry.</p>
          <a class="text-muted fst-italic" href="{% url 'login' %}">
            You can use a Demo account here. Your progress will not be saved.</a>
        </div>
      {% endif %}
    </div>
  </div>

  {% if user.is_authenticated %}
    <div class="create-entry-button">
      <a class="btn btn-primary btn-lg rounded" data-bs-toggle="modal" data-bs-target="#create-entry-modal">
        <i class="bi bi-plus"> New</i></a>
    </div>

    <div id="create-entry-modal" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <h5 class="modal-title">Modal title</h5> -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form method="post" action="{% url 'dashboard' %}" enctype="multipart/form-data">
              {% csrf_token %}

              {{ creation_form.title.label_tag}}
              {{ creation_form.title }}
              <br>
              <span>Date created:</span>
              <span class="h4">{% now "D, M d, Y" %}</span>
              <br>
              <span>Entry location:</span>
              <span class="fs-5" id="location-text"></span>
              {{ creation_form.location.as_hidden }}
              <button id="location-button" type="button" class="btn btn-secondary btn-sm">Add location</button>

              <div class="text-end mt-5">
                <button type="submit" name="creation_form" class="btn btn-primary">Create entry</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="create-entry-button">
      <a class="btn btn-primary btn-lg rounded" href="{% url 'login' %}">
        <i class="bi bi-box-arrow-in-right fst-normal"> Login</i></a>
    </div>
  {% endif %}


  {# Geolocation JS script and data #}
  <div id="geolocation-data"
    data-api-key="pk.bed5305a2a6bf4f89206a15ce7b08170"
    data-api-url="https://eu1.locationiq.com/v1/reverse.php">
  </div>
  {% load static %}
  <script type="text/javascript" src="{% static 'geolocation.js' %}"></script>

{% endblock %}
