{% extends 'base.html' %}

{% block title %}{{ diary.title }}{% endblock %}

{% block content %}
  {# Geolocation JS script #}
  {% load static %}
  <script type="text/javascript" src="{% static 'diary/geolocation.js' %}"></script>

  <a class="btn btn-primary" href="{% url 'diary' diary.id %}">Back to diary</a>
  <a class="btn btn-secondary" href="{% url 'edit' diary.id %}">Edit</a>
  <br>
  <div class="container-fluid">
    <p>Current location: </p>
    <span id="location-text">No location specified</span>
    <button id="location-button" type="button" class="btn btn-success btn-sm">Add location</button>
  </div>
{% endblock %}