{% extends 'base.html' %}

{% block title %}{{ block.super }} - Dashboard{% endblock %}

{% block content %}
  <a class="btn btn-primary" href="{% url 'logout' %}">Log out</a>
  <a class="btn btn-primary" href="{% url 'user_config' %}">User settings</a>
  {#<a class="btn btn-secondary" href="{% url 'diary' 1 %}">Go to diary</a>#}
  <a class="btn btn-secondary" href="{% url 'diary_config' 1 %}">New diary</a>
  <hr>

  <p>Your diaries:</p>
  {% if diary_list %}
    <ul>
      {% for diary in diary_list %}
      <li>
        <a href="{% url 'diary' diary.id %}">{{ diary.title }} - {{ diary.id }}</a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You have no diaries.</p>
  {% endif %}
{% endblock %}