{% extends 'base.html' %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
  <!-- <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
  <a class="btn btn-primary" href="{% url 'register' %}">Register</a> -->
  {% load static %}

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid py-1 px-4">
      <a class="navbar-brand" href="#">Diary App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-items-collapse">
        <!-- <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul> -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="btn btn-outline-light ps-1" href="{% url 'dashboard' %}">
              <i class="mx-1 bi bi-box-arrow-in-right"></i> Open Web App
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container text-center"> <!--style="max-width:800px"-->
    <p class="h2 py-4">Your personal diary.<p>
    <a class="btn btn-dark ps-1 mb-5" href="{% url 'dashboard' %}">
      <i class="mx-1 bi bi-box-arrow-in-right"></i> Get Started
    </a>
    <img class="img-fluid d-block mx-auto rounded" src="{% static 'images/iconBackground.gif' %}">
  </div>

  <div class="container text-center py-5">
    <figure>
      <blockquote class="blockquote">
        <p class="mb-0">Journal writing is a voyage to the interior.</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Source Title">Christina Baldwin</cite>
      </figcaption>
    </figure>
  </div>

  <br>

  <footer class="container-fluid bg-dark text-light">
    <div class="d-flex justify-content-center p-0">
      <a class="social-icon p-3" href="#">
        <i class="bi bi-instagram"></i></a>
      <a class="social-icon p-3" href="#">
        <i class="bi bi-linkedin"></i></a>
      <a class="social-icon p-3" href="#">
        <i class="bi bi-github"></i></a>
    </div>
    <p class="text-light text-center">Portfolio App Created by Veno B.</p>
  </footer>


  <style media="screen">
    .social-icon {
      transition: color 0.2s;
      color: #ffffff
    }
    .social-icon > i {
      font-size: 2rem;
    }
    .social-icon:hover {
      color: #888888;
    }
  </style>
{% endblock %}
